<%- include("partials/header", {title: "Secret", css: "message.css"}) %>
<%- include("partials/navbar") %>

<div class="content">
    <h2>Messages</h2>
    
    <% if(typeof messages !== "undefined") { %>
        <% messages.forEach(message => { %>
            <div class="message-card">
                <h3><%= message.title %></h3>
                <p><%= message.message %></p>
                <div class="info">
                    <p>Posted by: <%= message.creator.username%></p>
                    <p>Created at: <%= message.createTime %></p>
                </div>
            </div>
        <% }) %>
    <% } %>
            
</div>
<%- include("partials/footer") %>
